body {
    background: #333 url('../images/pageBG.png') repeat;
    font-family: Arial;
    font-size: 0.9em;
    color: #ccc;
    margin-top: 0;
    margin-left: 120px;
}
h1 {
    background : url('../images/logoPartypage.gif') no-repeat right -63px;
    width: 354px;
    height: 180px;
    text-indent : -3000px;
    float : left;
    margin : 0 20px 0 -48px;
    display : block;
}
h2 {
    font-size: 16px;
    font-weight: normal;
}
#share {
    display : inline-block;
    margin-top: 30px;
    font-size: 15px;
}
#party-url {
    color : #ed09a3;
    margin-left: 5px;
}
#new-member {
    width : 512px;
    height : 100px;
    margin-left : 326px;
    margin-top : 10px;
    padding-top : 44px;
    padding-left: 25px;
    background : url('../images/joinBG.png') no-repeat 0px 0px;
}
#new-member #join {
    background : url('../images/buttonJoin.png') no-repeat right top;
    width: 189px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    color: #333;
    text-align: center;
    padding-top: 3px;
    font-size: 24px;
    text-shadow: 1px 1px 1px #fff;
}
#new-member-id {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-width: 2px 0 0;
    border-style: inset none none;
    border-color: #ffffff;
    color: #444444;
    font-family: Arial;
    font-size: 16px;
    padding: 8px 7px 9px 15px;
    position: relative;
    top: -2px;
    width: 264px;
    margin-right: 7px;
}

#new-member-id.placeholder {
    color: #aaaaaa;
}

#header {
    height: 164px;
}
#members {
    background : url('../images/horizontalDivider.png') no-repeat left top;
    clear : both;
    margin-top : 20px;
    padding-top: 1px;
}

#members ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    width: 980px;
    margin-bottom: 5px;
}

#members .username, #to-spotify{
    display: inline;
    margin: 0 20px 15px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
    font-size: 15px;
    padding: 4px 14px;
    float: left;
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

#playlist {
    background : url('../images/horizontalDivider.png') no-repeat left top;
    padding-top : 1px;
    position : relative;
}

#playlist li:nth-child(2n+1) {
    background-color: #484848;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}

#playlist ul {
    padding: 0;
}

#playlist li {
    list-style: none;
    clear: both;
    width: 512px;
    height: 32px;
}

#playlist li div {
    float : left;
    width: 236px;
    padding-top: 8px;
    padding-left: 20px;
}

#playlist #to-spotify {
    position : absolute;
    left : 112px;
    top : 11px;
    text-decoration: none;
}

.error #party { display : none; }

.loading .progress-indicator {
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    height: 20px;
}
.loading #playlist table {
    display : none;
}
#error { display : none; }
.error #error { display : block; }
#to-spotify.loading {
    background-image: url('../images/ajax-loader-small.gif');
    background-repeat: no-repeat;
    height: 20px;
    padding-left: 20px;
    pointer-events: none;
    cursor: default;
    color: #888;
}